function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
push pointer 0
pop pointer 0
pop this 0
push constant 0
push pointer 0
pop pointer 0
pop this 1
push pointer 0
return
function SquareGame.dispose 1
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push argument 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 1
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto qCompiler.build.12
push argument 0
pop pointer 0
push this 0
call Square.moveUp 1
pop temp 0
goto qCompiler.build.13
label qCompiler.build.12
label qCompiler.build.13
push argument 0
pop pointer 0
push this 1
push constant 2
eq
not
if-goto qCompiler.build.14
push argument 0
pop pointer 0
push this 0
call Square.moveDown 1
pop temp 0
goto qCompiler.build.15
label qCompiler.build.14
label qCompiler.build.15
push argument 0
pop pointer 0
push this 1
push constant 3
eq
not
if-goto qCompiler.build.16
push argument 0
pop pointer 0
push this 0
call Square.moveLeft 1
pop temp 0
goto qCompiler.build.17
label qCompiler.build.16
label qCompiler.build.17
push argument 0
pop pointer 0
push this 1
push constant 4
eq
not
if-goto qCompiler.build.18
push argument 0
pop pointer 0
push this 0
call Square.moveRight 1
pop temp 0
goto qCompiler.build.19
label qCompiler.build.18
label qCompiler.build.19
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 3
push constant 0
pop local 1
label qCompiler.build.20
push local 1
not
not
if-goto qCompiler.build.21
label qCompiler.build.22
push local 0
push constant 0
eq
not
if-goto qCompiler.build.23
call Keyboard.keyPressed 0
pop local 0
push argument 0
call SquareGame.moveSquare 1
pop temp 0
goto qCompiler.build.22
label qCompiler.build.23
push local 0
push constant 81
eq
not
if-goto qCompiler.build.24
push constant 0
not
pop local 1
goto qCompiler.build.25
label qCompiler.build.24
label qCompiler.build.25
push local 0
push constant 90
eq
not
if-goto qCompiler.build.26
push argument 0
pop pointer 0
push this 0
call Square.decSize 1
pop temp 0
goto qCompiler.build.27
label qCompiler.build.26
label qCompiler.build.27
push local 0
push constant 88
eq
not
if-goto qCompiler.build.28
push argument 0
pop pointer 0
push this 0
call Square.incSize 1
pop temp 0
goto qCompiler.build.29
label qCompiler.build.28
label qCompiler.build.29
push local 0
push constant 131
eq
not
if-goto qCompiler.build.30
push constant 1
push argument 0
pop pointer 0
pop this 1
goto qCompiler.build.31
label qCompiler.build.30
label qCompiler.build.31
push local 0
push constant 133
eq
not
if-goto qCompiler.build.32
push constant 2
push argument 0
pop pointer 0
pop this 1
goto qCompiler.build.33
label qCompiler.build.32
label qCompiler.build.33
push local 0
push constant 130
eq
not
if-goto qCompiler.build.34
push constant 3
push argument 0
pop pointer 0
pop this 1
goto qCompiler.build.35
label qCompiler.build.34
label qCompiler.build.35
push local 0
push constant 132
eq
not
if-goto qCompiler.build.36
push constant 4
push argument 0
pop pointer 0
pop this 1
goto qCompiler.build.37
label qCompiler.build.36
label qCompiler.build.37
label qCompiler.build.38
push local 0
push constant 0
eq
not
not
if-goto qCompiler.build.39
call Keyboard.keyPressed 0
pop local 0
push argument 0
call SquareGame.moveSquare 1
pop temp 0
goto qCompiler.build.38
label qCompiler.build.39
goto qCompiler.build.20
label qCompiler.build.21
push constant 0
return
